@model IEnumerable<Katastar.Models.Predmet>

@{
    ViewData["Title"] = "Predmeti";
}
<style>
    .custom-btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
</style>
<h1>Predmeti</h1>
<p>
    <a asp-action="CreatePredmet">Kreiraj novi predmet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vlasnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lokacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dimenzija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zavrsen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vlasnik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lokacija)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dimenzija)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zavrsen)
                </td>

                <td style="vertical-align: middle;">
                    <a asp-action="EditPredmet" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DetailsPredmet" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeletePredmet" asp-route-id="@item.Id">Delete</a> |
                    @if (item.Zavrsen)
                    {

                        <form style="display: inline;" asp-action="MoveToArhiva" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-primary custom-btn-sm">Arhiviraj</button>
                        </form>
                    }
                </td>
                
                
            </tr>
        }
    </tbody>
</table>
